.blog {
  color: var(--blog-fg-color);
  text-align: center;

  .content {
    max-width: @BLOG_CONTENT_MAX_WIDTH;
    margin: 20px 0 40px;
    font-size: 16px;

    a {
      color: var(--blog-link-color);

      &.link {
        word-break: break-all;
      }
    }

    a:visited {
      color: var(--blog-link-visited-color);
    }

    li {
      margin: 16px 0;
    }
  }
}

.post {
  margin: 20px 40px 30px;
}

.post-title {
  text-align: center;
}

.post-content {
  box-sizing: border-box;
  text-align: left;
}

.post-youtube-video {
  width: 100%;
  text-align: center;
}

.post-youtube-video-iframe {
  width: 640px;
  height: 480px;
}

.post-youtube-video-link {
  display: none !important;

  span {
    word-break: break-all;
  }
}

@media (max-width: 800px) {
  .blog {
    .content {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .post-youtube-video-iframe {
    width: 480px;
    height: 315px;
  }
}

@media (max-width: 599px) {
  .post {
    margin: 20px 30px 30px;
  }
}

@media (max-width: 579px) {
  .post-youtube-video-iframe {
    width: 360px;
    height: 270px;
  }
}

@media (max-width: 499px) {
  .post {
    ul {
      padding-left: 30px;
    }
  }
}

@media (max-width: 459px) {
  .post-youtube-video-iframe {
    width: 320px;
    height: 240px;
  }
}

@media (max-width: 399px) {
  .post {
    margin: 20px 20px 30px;
  }

  .post-youtube-video-iframe {
    width: 240px;
    height: 180px;
  }
}

@media (max-width: 299px) {
  .post {
    h2 {
      font-size: 18px;
    }

    ul {
      padding-left: 20px;
    }
  }

  .post-youtube-video-iframe {
    display: none !important;
  }

  .post-youtube-video-link {
    display: block !important;
  }
}

@media (max-width: 239px) {
  .blog {
    .content {
      font-size: 14px;
    }
  }
}
